.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
}

.board-wrapper {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row {
  /* display: flex; */
  /* width: 700px; */
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(1, 100px);
  width: 700px;
  height: 100px;
}