.pieces-container {
  display: flex;
  position: relative;
  width: 500px;
  height: 300px;
}

.piece {
  position: absolute;
  top: 0;
}

.piece.selected {
  border: 1px solid black;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
}

.controls svg path {
  fill: #000;
}

.row {
  display: flex;
}